<div class="relative w-full overflow-hidden">
  <!-- Carrusel -->
  <div class="flex transition-transform duration-500 ease-in-out"
       [ngStyle]="{'transform': 'translateX(' + (-currentIndex * 100) + '%)'}">
    <div *ngFor="let image of images" class="min-w-full">
      <img [src]="image" class="w-full object-cover"
           [ngClass]="{
              'h-28': screenWidth <= 425, 
              'h-48': screenWidth > 425 && screenWidth <= 768, 
              'h-full': screenWidth > 768
           }" />
    </div>
  </div>

  <!-- Botones de navegación -->
  <button (click)="prevSlide()" 
          class="absolute left-2 top-1/2 -translate-y-1/2 bg-gray-100 text-black rounded-full shadow-lg transition"
          [ngClass]="{
            'p-1 w-6 h-6': screenWidth <= 425, 
            'p-2 w-10 h-10': screenWidth > 425 && screenWidth <= 768, 
            'p-3 w-12 h-12': screenWidth > 768
          }">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>

  <button (click)="nextSlide()" 
          class="absolute right-2 top-1/2 -translate-y-1/2 bg-gray-100 text-black rounded-full shadow-lg transition"
          [ngClass]="{
            'p-1 w-6 h-6': screenWidth <= 425, 
            'p-2 w-10 h-10': screenWidth > 425 && screenWidth <= 768, 
            'p-3 w-12 h-12': screenWidth > 768
          }">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </button>

  <!-- Indicadores -->
  <div class="absolute bottom-2 left-1/2 -translate-x-1/2 flex"
       [ngClass]="{
         'space-x-1': screenWidth <= 425, 
         'space-x-2': screenWidth > 425 && screenWidth <= 768, 
         'space-x-3': screenWidth > 768
       }">
    <span *ngFor="let _ of images; let i = index" 
          class="rounded-full transition-all duration-300 cursor-pointer"
          [ngClass]="{
            'w-2 h-2': screenWidth <= 425, 
            'w-3 h-3': screenWidth > 425 && screenWidth <= 768, 
            'w-4 h-4': screenWidth > 768,
            'bg-black': currentIndex === i, 
            'bg-gray-400': currentIndex !== i
          }"
          (click)="goToSlide(i)">
    </span>
  </div>
</div>
