<div class="flex h-screen bg-gray-100"style="font-family: 'Barlow', sans-serif;">
    <!-- Sidebar -->
    <app-sidebar-factus></app-sidebar-factus>

    <div class="flex flex-col w-full">
        <app-navbar></app-navbar>

        <section class="py-6 bg-blueGray-50 flex-1 overflow-y-auto">
          <div class="w-full lg:w-12/14 px-4 mx-auto">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
              <div class="rounded-t bg-blueGray-100 mb-0 px-6 py-6">
                <div class="text-center flex justify-between">
                  
                </div>
                <hr class="mt-6 border-b-1 border-blueGray-300">
              </div>
              <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class = "flex flex-wrap">
                    <hr class="mt-6 border-b-1 border-blueGray-300">
                    <h6 class="text-blueGray-400 text-xl mt-3 mb-6 font-bold uppercase">Productos</h6>
                    <div class="flex flex-wrap">
                      <div class="w-full lg:w-6/12 px-4 mb-4">
                        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                          Subir Imagen <span class="text-red-500">*</span>
                        </label>
                      
                        <div 
                          class="border-2 border-dashed border-gray-300 rounded-2xl p-5 flex flex-col items-center justify-center text-gray-500 cursor-pointer hover:border-blue-500 transition"
                          (click)="fileInput?.click()"
                          (dragover)="onDragOver($event)"
                          (dragleave)="onDragLeave($event)"
                          (drop)="onDrop($event)"
                          [ngClass]="{ 'border-blue-500 bg-blue-50': isDragging }"
                        >
                          <svg class="w-12 h-12 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V12a4 4 0 118 0v4m-9 4h10a2 2 0 002-2v-6a6 6 0 10-12 0v6a2 2 0 002 2z"></path>
                          </svg>
                          <p class="text-sm text-gray-500">Arrastra y suelta tu imagen aquí</p>
                          <p class="text-xs text-gray-400">O haz clic para seleccionar</p>
                        </div>
                      
                        <input 
                          type="file"
                          class="hidden"
                          #fileInput
                          (change)="onFileSelected($event)"
                          accept="image/*"
                         
                        />
                      </div>
                      <div *ngIf="imagePreview" class="w-full lg:w-6/12 px-4 mb-4 flex flex-col items-center">
                        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Vista Previa</label>
                        <div class="relative w-80 h-80">
                          <img [src]="imagePreview" alt="Vista previa" class="w-full h-full object-cover rounded-lg shadow">
                          <button 
                            (click)="removeImage()" 
                            class="absolute top-1 right-1  text-white p-1 rounded-full shadow-lg  transition">
                            ✖
                          </button>
                        </div>
                      </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Código de Referencia <span class="text-red-500">*</span></label>
                      <input 
                      type="text"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="code_reference"
                      
                      />
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Categoria del Producto<span class="text-red-500">*</span></label>
                      <select
                      class="border-0 px-2 py-4 placeholder-gray-600 text-gray-600 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="categoryId"
                      >
                      <option value="" disabled selected>Seleccione una Categoria</option>
                      <option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{ categoria.nombre }} 
                      </option>
                      

                      </select>
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Nombre del Producto <span class="text-red-500">*</span></label>
                      <input 
                      type="text"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="name"
                      required
                      />
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label for="descripcion" class="block text-gray-700 text-sm font-medium mb-2">Descripción</label>
                      <textarea
                      formControlName="descripcion"
                        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 resize-none"
                        rows="4"
                        placeholder="Escribe la descripción aquí..."
                      ></textarea>
                    </div>
                    
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Cantidad <span class="text-red-500">*</span></label>
                      <input 
                      type="number"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="quantity"
                      min="1"
                      required
                      />
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Porcentaje de Descuento <span class="text-red-500">*</span></label>
                      <input 
                      type="number"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="discount_rate"
                      min="1"
                      required
                      />
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Precio del Producto<span class="text-red-500">*</span></label>
                      <input 
                      type="number"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="price"
                      min="1"
                      required
                      />
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Porcentaje de Impuesto <span class="text-red-500">*</span></label>
                      <input 
                      type="number"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="tax_rate"
                      min="1"
                      required
                      />
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Unidad de Medida <span class="text-red-500">*</span></label>
                      <select
                      class="border-0 px-2 py-4 placeholder-blueGray-600 text-blueGray-600 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="unit_measure_id"
                      [ngClass]="{ 'border-red-500': !form.controls['unit_measure_id'].valid && form.controls['unit_measure_id'].touched }">
                      <option value="" disabled selected>Seleccione una Unidad de Medida</option>
                      <option *ngFor="let unidad of unidades" [value]="unidad.id">
                        {{ unidad.name }} 
                      </option>
                    </select>
                    </div>
                   
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Código Estandar <span class="text-red-500">*</span></label>
                      <select 
                      type="text"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="standardCodeId"
                      required
                      >
                      <option value="" disabled select>Selecciona el código estándar del producto</option>
                      <option value="1">Estándar de adopción del contribuyente</option>
                      <option value="2">UNSPSC</option>
                      <option value="3">Partida Arancelaria</option>
                      <option value="4">GTIN</option>
    
                    </select>
                    </div>
                    
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Producto Excluido <span class="text-red-500">*</span></label>
                      <select 
                      type="text"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="isExcluded"
                      required
                      >
                      <option value=""disabled select>Selecciona una opcion</option>
                      <option value="1">Sí</option>
                      <option value="0">No</option>
                     
                      </select>
                    </div>
                    <div class="w-full lg:w-6/12 px-4 mb-4">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Tributo del Producto <span class="text-red-500">*</span></label>
                      <select
                      class="border-0 px-2 py-4 placeholder-blueGray-600 text-blueGray-600 bg-gray-100 rounded-2xl text-sm shadow focus:outline-none focus:ring w-full"
                      formControlName="tributeId"
                      [ngClass]="{ 'border-red-500': !form.controls['tributeId'].valid && form.controls['tributeId'].touched }">
                      <option value="" disabled selected>Seleccione el tributo del producto</option>
                      <option *ngFor="let tributo of tributos" [value]="tributo.id">
                        {{ tributo.name }} 
                      </option>
                    </select>
                    </div>
                    
                    <div class="mb-8 w-full">
                      <hr class="mt-6 border-b-1 border-blueGray-300 mb-6">
                      <h3 class="text-xl font-semibold text-gray-700 mb-6">Impuestos de Retención</h3>
                    
          
                      <div class="mb-6">
                        <label class="flex items-center space-x-3 cursor-pointer">
                          <input
                            type="checkbox"
                            [checked]="isRetentionEnabled"
                            (change)="toggleRetention($event)"
                            class="form-checkbox h-5 w-5 text-blue-500 rounded focus:ring-blue-500 transition-all duration-200">
                          <span class="text-sm font-medium text-gray-700">Habilitar Impuestos de Retención</span>
                        </label>
                      </div>
                      <div *ngIf="isRetentionEnabled && withholdingTaxesGroup" [formGroup]="withholdingTaxesGroup">
                        <div>
                          <label class="block text-sm font-medium text-gray-700 mb-2">Código de Retención</label>
                          <select
                            formControlName="code"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
                            [ngClass]="{ 'border-red-500': form.get('withholdingTaxes.code')?.invalid && form.get('withholdingTaxes.code')?.touched }">
                            <option value="" disabled selected>Seleccione el tributo del producto</option>
                            <option *ngFor="let tributo of tributos" [value]="tributo.id">
                              {{ tributo.name }}
                            </option>
                          </select>
                        </div>
                        <div>
                          <label class="block text-sm font-medium text-gray-700 mb-2">Porcentaje de Retención</label>
                          <input
                            type="number"
                            formControlName="withholdingTaxRate"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
                            placeholder="Ingrese el porcentaje">
                        </div>
                      </div>
                      <div formArrayName="sucursalesStock" class="space-y-4">
                        <div *ngFor="let stockControl of sucursalesStock.controls; let i = index" [formGroup]="stockControl">
                            <div class="flex items-center justify-between bg-white p-4 rounded-lg shadow-md border border-gray-200">
                                
                                <!-- Información de la sucursal -->
                                <div class="flex items-center space-x-4">
                                    <div class="bg-blue-100 text-blue-600 p-3 rounded-full shadow-md">
                                        <i class="fas fa-store text-2xl"></i>
                                    </div>
                                    <div>
                                        <span class="block font-semibold text-gray-700 text-lg">{{ sucursal[i].nombre }}</span>
                                        <span class="text-sm text-gray-500">{{ sucursal[i].direccion }}</span>
                                    </div>
                                </div>
                    
                                <!-- Campo oculto para ID de la sucursal -->
                                <input type="hidden" formControlName="sucursalId" />
                    
                                <!-- Input para el stock con estilos mejorados -->
                                <div class="flex items-center space-x-2">
                                    <label class="text-gray-600 font-bold text-2xl">Stock:</label>
                                    <input
                                        type="number"
                                        formControlName="quantity"
                                        class="w-20 px-3 py-2 text-gray-700 bg-gray-100 border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
                                        placeholder="0"
                                        min="0"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      <div class="mb-4">
                        <hr class="mt-6 border-b-1 border-blueGray-300 mb-3">
                        <label class="block text-xl font-bold text-gray-700 mb-4 text-center">Tipo de Entrega</label>
                    
                        <div class="flex justify-center space-x-6">
                            <!-- Botón para Retiro en Tienda -->
                            <button 
                                type="button" 
                                (click)="toggleEntrega(tiposEntrega.RETIRO_EN_TIENDA)"
                                [ngClass]="{'bg-red-500 text-white': form.get('tiposEntrega')?.value.includes(tiposEntrega.RETIRO_EN_TIENDA), 
                                            'bg-gray-200 text-gray-700': !form.get('tiposEntrega')?.value.includes(tiposEntrega.RETIRO_EN_TIENDA)}"
                                class="flex flex-col items-center px-8 py-6 rounded-lg shadow-md transition-all duration-200 focus:outline-none w-40 h-40">
                                <i class="fas fa-store text-4xl mb-2"></i>
                                <span class="text-lg font-medium">Retiro en Tienda</span>
                            </button>
                    
                            <!-- Botón para Despacho a Domicilio -->
                            <button 
                                type="button" 
                                (click)="toggleEntrega(tiposEntrega.DESPACHO_A_DOMICILIO)"
                                [ngClass]="{'bg-red-500 text-white': form.get('tiposEntrega')?.value.includes(tiposEntrega.DESPACHO_A_DOMICILIO), 
                                            'bg-gray-200 text-gray-700': !form.get('tiposEntrega')?.value.includes(tiposEntrega.DESPACHO_A_DOMICILIO)}"
                                class="flex flex-col items-center px-8 py-6 rounded-lg shadow-md transition-all duration-200 focus:outline-none w-40 h-40">
                                <i class="fas fa-truck text-4xl mb-2"></i>
                                <span class="text-lg font-medium">Despacho a Domicilio</span>
                            </button>
                        </div>
                    </div>
                    
                    
                    <div *ngIf="form.get('tiposEntrega')?.value.includes(tiposEntrega.DESPACHO_A_DOMICILIO)" class="mt-6 text-center">
                        <label class="block text-lg font-semibold text-gray-700 mb-2">Costo de Despacho</label>
                        <input 
                            type="number" 
                            formControlName="costoDespacho"
                            class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
                            placeholder="Ingrese el costo adicional de despacho">
                    </div>
                    </div>
                    
                                </div>
                  <div class=" text-center mt-6">
                    <button
                      class="bg-green-500 text-white active:bg-green-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                      type="submit">
                      @if(productoId) {Actualizar} @else{Crear} Producto
                    </button>
                  </div>
                
              </div>
                </form>
            </div>
          </div>
          </div>
        </section>
    </div>
</div>
